body {

    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.navbar {
    background: linear-gradient(to right, #352503 0%, #cca000 100%);
    text-align: center;
}

.main {
    margin-left: 0;
}

.welcome {
    color: #cca000;
    text-align: left;
}

.search {
    color: #cca000;
}

.container {
    text-align: center;
}

.keepaustin {
    font-family: 'Permanent Marker', cursive;
    margin: 0 auto;
    font-weight: 800;
    font-size: 60px;
    color: black;
    margin-bottom: 100px;
  }